.education {
  padding-bottom: 30px;
}

.education__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.education__place-of-study {
  color: #ff6b08;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 21px;
}

.education__faculty {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px;
}

.education__time {
  color: #a8a8a8;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.education__divider {
  color: #000000;
}

.education__subtitle {
  padding-top: 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}
