.info {
  padding-top: 130px;
  margin-bottom: 105px;
  width: 100%;
}

.info__profession {
  font-size: 34px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 55px;
  margin-bottom: 120px;
  background: #ff6b08;
  width: 48%;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  text-align: end;
}

.info__name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  margin: 0 0 90px 0;
}

.info__discription {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
