.info {
  padding-top: 65px;
}

.info__profession {
  font-size: 25px;
  font-weight: 700;
  line-height: 24px;
}

.info__name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  margin-top: 23px;
}

.info__discription {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}
